<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<div th:fragment="asideFragment">
    <div class="p3 mb-3 bg-warning rounded">
        <h4><b>Что-то интересное</b></h4>
        <p class="overflow-auto" style="max-height: 200px">Toyota Motor Corporation («Тойота Мотор») – японская корпорация,
            занимающаяся проектированием, выпуском и продажей автомобилей и автомобильных запасных частей.

            Японский автопроизводитель любит позиционировать себя красиво – «Today. Tommorow. Toyota» (Сегодня. Завтра.
            Тойота) – так звучит один из ее слоганов. Есть ли основания для такой гордости?
            Источник: https://myrouble.ru/istoriya-toyota.
            В 2019 этот бренд занял среди автопроизводителей 1-ое место в рейтинге «BrandZ Top 100». Toyota Motor является
            одной из крупнейших автомобилестроительных компаний в мире и выпускает автомобили также под брендами Hino,
            Daihatsu, Lexus.

            До 2019 по рыночной стоимости компания являлась лидером среди автогигантов, но 1-ое место пришлось уступить
            Tesla. В 2020 капитализация Toyota Motor Corp. по данным Forbes составила 173,3 млрд.$. В рейтинге Самых ценных
            брендов-2020 данного финансового издания корпорация занимает 11-ое место с объемом продаж 187 млрд.$. В списке
            крупнейших публичных компаний мира Global-2000 в 2020 Toyota Motor на 11-й строчке с продажами в 280,5 млрд.$, с
            прибылью 22,7 млрд.$, и активами 495,1 млрд.$.

            В компании трудятся около 360 тыс. работников, а с конвейеров ежегодно сходят до 9 миллионов автомобилей!
            Скорость выпуска моделей Toyota легко подсчитать – 1 машина в 6 секунд!

            С 1982 Toyota является членом «Большой тройки» — неформального звания трех самых крупных автомобилестроительных
            компаний. Состав «Большой тройки» не остается постоянным – и если поначалу лидерство американских производителей
            было безусловно («детройтская тройка» включала в себя General Motors (GM), Chrysler и Ford), то сейчас налицо
            новое троевластие – все тот же GM, но уже Toyota и Honda, на пятки которым наступают Volkswagen и Hyundai.</p>
    </div>
    <div class="p-3 mb-3">
        <img src="/img/toyota.jpg" alt="main" class="img-thumbnail">
    </div>
</div>
</html>
