<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ошибка 404</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="js/jquery-3.6.1.js"></script>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
    <script defer src="/js/main.js"></script>
</head>
<body>

    <div class="alert alert-danger" role="alert">Страница не найдена.
        <b><a href="/">Перейти на главную.</a></b>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mb-4">
                ОШИБКА 404
            </div>

            <div id="includedAside" class="col-md-4"></div>
        </div>
    </div>

    <div id="includedFooter" class="footer"></div>

</body>
</html>